.clase-detail-container {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 2rem auto;
  max-width: 800px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.clase-detail-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.clase-detail-container p {
  color: black;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.clase-detail-container h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #555;
}

.clase-detail-container ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
}

.clase-detail-container li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  background-color: #fff;
  color: #333;
  padding: 0.75rem;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
