.product-card-link {
  text-decoration: none;
  color: inherit;
}

.product-card {
  border: 1px solid #ddd;
  padding: 1.1rem;
  border-radius: 8px;
  overflow: hidden;
  transition:  0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-info {
  padding: 15px;
}

.product-name {
  font-size: 1.2em;
  margin: 0 0 10px 0;
}

.product-price {
  font-size: 1.1em;
  font-weight: bold;
  color: #ddd;
  margin: 0;
}
