
.product-detail-container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.product-name{
  font-size: 1.2em;
  margin: 0 0 10px 0;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.product-detail-image {
  flex: 1;
}

.product-detail-image img {
  width: 100%;
  border-radius: 8px;
}

.product-detail-info {
  flex: 1;
}

.product-detail-info h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.product-detail-info .price {
  font-size: 1.8em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.product-detail-info .description {
  font-size: 1.1em;
  line-height: 1.6;
  color: #ddd;
  margin-bottom: 20px;
}

.buy-now-btn{
  background-color: #FFD700;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}