.recommended-products-container {
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid #eee;
}

.recommended-products-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold
}

.recommended-products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}
