.main-content{
    margin-top: 3rem;
    padding: 2rem;
    color:#fff;
}

.plans-container {
    padding: 6rem 2rem 4rem; /* Padding superior para no chocar con el header */
    background-color: #0a0a0a;
    color: #fff;
    min-height: 100vh;
}

.plans-header {
    text-align: center;
    margin-bottom: 4rem;
}

.plans-header h2 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    color: #FFD700;
    font-weight: bold;
}

.plans-header p {
    font-size: 1.2rem;
    color: #ccc;
    max-width: 600px;
    margin: 0 auto;
}

.plans-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem;
    max-width: 1300px;
    margin: 0 auto;
}

.plan-card {
    margin-top: 1.5rem;
    background-color: #222;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.plan-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(255, 215, 0, 0.15);
    border-color: #FFD700;
}

.plan-card.highlight {
    border-color: #FFD700;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.4);
}

.highlight-badge {
    position: absolute;
    top: 18px;
    right: -45px;
    background-color: #FFD700;
    color: #fff;
    padding: 9px 50px;
    transform: rotate(45deg);
    font-weight: bold;
    font-size: 0.9rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.plan-card h3 {
    font-size: 2.1rem;
    color: #fff;
    margin-bottom: 2rem;
}

.plan-card.highlight h3 {
    color: #FFD700;
}

.plan-card.highlight .plan-button {
    background-color: #FFD700;
    color: #fff;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
}

.plan-card.highlight .plan-button:hover {
    background-color: #ffed4a; /* Un dorado un poco más brillante al pasar el mouse */
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.7);
}

.plan-features {
    list-style: none;
    padding: 0;
    margin-bottom: 2.5rem;
    flex-grow: 1;
}

.plan-features li {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    line-height: 1.5;
    position: relative;
    padding-left: 30px;
    text-align: left;
    color: #ddd;
}

.plan-features li::before {
    content: '✔';
    color: #FFD700;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.3rem
}

.plan-button{
    background-color: #FFD700;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 7px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1.2rem;
}

.plan-button:hover {
    background-color: #FFD700;
    color: #fff;
    box-shadow: 1px 0 5px 1px #cfb104;
}

