.app-footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}